.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  padding: 0.5em;
}

.exhibit-card {
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 16px;
}

.exhibit-header {
  background-color: whitesmoke;
  border-radius: 8px 8px 0 0;
  padding: 16px;
}

.exhibit-content {
  padding: 16px;
}